
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Swim School of Bend Appointment Manager</title>
    <link rel="shortcut icon" href="{% if APP_FAVICON != NULL %} {{ BASE_DIR }}{{ UPLOAD_PATH }}{{ APP_FAVICON }} {% else %} {{ DEFAULT_FAVICON }} {% endif %}">

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="../comestoarra/Views/Backend/assets/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	<link href="../comestoarra/Views/Backend/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../comestoarra/Views/Backend/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="../comestoarra/Views/Backend/assets/css/layout.min.css" rel="stylesheet" type="text/css">
	<link href="../comestoarra/Views/Backend/assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="../comestoarra/Views/Backend/assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/main/jquery.min.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/main/bootstrap.bundle.min.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/plugins/loaders/blockui.min.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/plugins/ui/slinky.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/plugins/ui/moment/moment.min.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/plugins/pickers/daterangepicker.js"></script>

	<script src="../comestoarra/Views/Backend/assets/js/app.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/demo_pages/dashboard.js"></script>
	<!-- /theme JS files -->

<style>

.btn-old {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-danger-old {
    color: #fff;
    background-color: #da2a2a;
    border-color: #eea236;
}
.btn-success-old {
    color: #fff;
    background-color: #19ca91;
    border-color: #eea236;
}
.btn-warning-old {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-defaule-old {
    position: relative;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
</style>


</head>

<body>


	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark">
		<div class="navbar-brand wmin-0 mr-5">
			<a href="{{ urlFor( 'dashboard' ) }}" class="d-inline-block">
				<img src="../comestoarra/Views/Backend/assets/global_assets/images/logo_light.png" alt="">
			</a>
		</div>

		<div class="d-md-none">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar-mobile">

			<span class="badge bg-success-400 badge-pill ml-md-3 mr-md-auto">Status: Online</span>

			<ul class="navbar-nav">

				<li class="nav-item dropdown dropdown-user">
					<a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                            {% if PROVIDER == 'DEFAULT' %}
						<img src="{{ AVATAR }}" class="rounded-circle mr-2" height="34" alt="">
                            {% endif %}
                            {% if PROVIDER == 'BSS Instructor Registration' %}
                                {% if AVATAR_Instructor %}
                                    <img src="{{ PUBLIC_DIR }}avatars/Instructors/{{ AVATAR_Instructor }}" class="rounded-circle mr-2" height="34" alt="">
                                {% else %}
                                    <img src="{{ PUBLIC_DIR }}avatars/default.jpg" class="rounded-circle mr-2" height="34" alt="">
                                {% endif %}
                            {% endif %}
                            {% if PROVIDER == 'BSS Swimmer Registration' %}
                                {% if AVATAR_Swimmer %}
                                    <img src="{{ PUBLIC_DIR }}avatars/Swimmers/{{ AVATAR_Swimmer }}" class="rounded-circle mr-2" height="34" alt="">
                                {% else %}
                                    <img src="{{ PUBLIC_DIR }}avatars/default.jpg" class="rounded-circle mr-2" height="34" alt="">
                                {% endif %}
                            {% endif %}
						<span>{{ USERNAME }}</span>
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="{{ urlFor( 'myProfile' ) }}" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
						<a href="{{ urlFor( 'mailbox' ) }}" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages </a>
						<div class="dropdown-divider"></div>
						<a href="{{ LOGOUT }}" onclick="return comestoarraAlert('', 'warning', '{{ LOGOUT }}');" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Secondary navbar -->
	<div class="navbar navbar-expand-md navbar-light">
		<div class="text-center d-md-none w-100">
			<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-navigation">
				<i class="icon-unfold mr-2"></i>
				Navigation
			</button>
		</div>

		<div class="navbar-collapse collapse" id="navbar-navigation">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="{{ urlFor( 'dashboard' ) }}" class="navbar-nav-link ">
						<i class="icon-home4 mr-2"></i>
						Dashboard
					</a>
				</li>

				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
						<i class="icon-strategy mr-2"></i>
						Back Office
					</a>

					<div class="dropdown-menu">
						<div class="dropdown-header">User Managment</div>
						<div class="dropdown-submenu">
							<a href="#" class="dropdown-item dropdown-toggle"><i class="icon-grid2"></i> Accounts</a>
							<div class="dropdown-menu">
								<a href="{{ urlFor( 'Swimmers' ) }}" class="dropdown-item"><i class="icon-people"></i> Swimmers</a>
								<a href="{{ urlFor( 'Instructors' ) }}" class="dropdown-item"><i class="icon-people"></i> Instructors</a>
							</div>
						</div>
						<div class="dropdown-header">Lessons</div>
						<a href="{{ urlFor( 'appointments' ) }}" class="dropdown-item" ><i class="icon-calendar3"></i> Lesson Managment</a>
					</div>
				</li>
				
				<li class="nav-item">
					<a href="{{ urlFor( 'calendar' ) }}" class="navbar-nav-link ">
						<i class="icon-calendar2 mr-2"></i>
						Lesson Calendar
					</a>
				</li>
			</ul>

			<ul class="navbar-nav ml-md-auto">

				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
						<i class="icon-cog3"></i>
						<span class="d-md-none ml-2">Settings</span>
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="{{ urlFor( 'users' ) }}" class="dropdown-item"><i class="icon-user-lock"></i> Root User Roles</a>
						<!-- /audit trail link -->
						<div class="dropdown-divider"></div>
						<a href="{{ urlFor( 'globalSetting' ) }}" class="dropdown-item"><i class="icon-gear"></i> Global Settings</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /secondary navbar -->


	<!-- Page header -->
	<div class="page-header">
		<div class="page-header-content header-elements-md-inline">
			<div class="page-title d-flex">
				<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - Profile</h4>
				<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
			</div>

			<div class="header-elements d-none py-0 mb-3 mb-md-0">
				<div class="breadcrumb">
					<a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
					<span class="breadcrumb-item active">Profile</span>
				</div>
			</div>
		</div>
	</div>
	<!-- /page header -->
		

	<!-- Page content -->
	<div class="page-content pt-0">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
<div class="content">

				<!-- Inner container -->
				<div class="d-flex align-items-start flex-column flex-md-row">

					<!-- Left content -->
					<div class="tab-content w-100 overflow-auto order-2 order-md-1">

					    <div class="tab-pane fade active show" id="settings">

							<!-- Profile info -->
							<div class="card">
								<div class="card-header header-elements-inline">
									<h5 class="card-title">Profile information</h5>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
					                		<a class="list-icons-item" data-action="reload"></a>
					                		<a class="list-icons-item" data-action="remove"></a>
					                	</div>
				                	</div>
								</div>

								<div class="card-body">
									<form id="updateProfileAction" role="form" method="post" action="{{ urlFor( 'updateInstructorProfileAction' ) }}">
										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<label>First Name</label>
													<input id="first_name" name="first_name" class="form-control" value="{{ USER_PROFILE['first_name'] }}">
												</div>
												<div class="col-md-6">
													<label>Last Name</label>
													<input id="first_name" name="last_name" class="form-control" value="{{ USER_PROFILE['last_name'] }}">
												</div>
											</div>
										</div>

										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<label>Birthdate</label>
                                                    <input id="birthdate" name="birthdate" class="form-control" value="{{ USER_PROFILE['birth_date'] }}">
												</div>
												<div class="col-md-6">
													<label>Phone</label>
													<input id="first_name" name="cellphone" class="form-control" value="{{ USER_PROFILE['phone'] }}">
												</div>
											</div>
										</div>

				                        <div class="form-group">
				                        	<div class="row">
				                        		<div class="col-md-8">
													<label>Bio</label>
													<textarea id="bio" name="bio" class="form-control" rows="3">{{ USER_PROFILE['bio'] }}</textarea>
				                        		</div>
				                        	</div>
				                        </div>
                                        
                                        <input type="hidden" id="Instructor_id" name="Instructor_id" value="{{ USER_PROFILE['Instructor_id'] }}">

				                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary" onclick="return comestoarraAlert( '#updateProfileAction', 'warning', '' );">Update Profile</button>
				                        </div>

                                        <input type="hidden" name="{{ CSRF_TOKEN_NAME }}" value="{{ CSRF_TOKEN_VALUE }}"/>
									</form>
								</div>
							</div>
							<!-- /profile info -->

				    	</div>
					</div>
					<!-- /left content -->


					<!-- Right sidebar component -->
					<div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right wmin-300 border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

						<!-- Sidebar content -->
						<div class="sidebar-content">

							<!-- User card -->
							<div class="card">
								<div class="card-body text-center">
									<div class="card-img-actions d-inline-block mb-3">


                            {% if AVATAR %}
                                <p align="center"> <img src="{{ AVATAR }}" class="img-fluid rounded-circle" width="170" height="170"></p>
                            {% else %}
                                <p align="center"><img src="{% if Swimmer_PROFILE['gender'] == '1' %}http://www.businesssouthwest.com.au/wp-content/uploads/2017/11/Female-Avatar-500x500.jpg{% endif %}{% if Swimmer_PROFILE['gender'] == '2' %}http://www.businesssouthwest.com.au/wp-content/uploads/2017/11/Male-Avatar-500x500.jpg{% endif %}" class="img-fluid rounded-circle" width="170" height="170"></p>
                            {% endif %}


										<div class="card-img-actions-overlay card-img rounded-circle">
											<a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
												<i class="icon-plus3"></i>
											</a>
											<a href="user_pages_profile.html" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
												<i class="icon-link"></i>
											</a>
										</div>
									</div>

						    		<h6 class="font-weight-semibold mb-0">{{ USER_PROFILE['first_name'] }} {{ USER_PROFILE['last_name'] }}</h6>
						    		<span class="d-block text-muted">
                                {% if USER_PROFILE['specialties'] %}
                                    Specialty: {{ USER_PROFILE['specialties']|e }}
                                {% endif %}
                                    </span>

					    			<div class="card-img-actions d-inline-block mb-3"><br>
                                        <form id="uploadAvatarAction" action="{{ urlFor( 'uploadInstructorAvatarAction' ) }}" method="post" enctype="multipart/form-data">
                                            <span id="avatar_button" class="btn btn-block btn-default btn-file" rel="tooltip"  data-placement="bottom" title="Select an avatar image from your hard-disk, only .jpg">
                                                UPLOAD NEW AVATAR <input type="file" id="avatar_file" name="avatar_file" accept="image/*" required >
                                            </span>
                                        <span class="form-text text-muted">Accepted formats: png, jpg. Max file size 2Mb. Must be at least 100x100.</span>
                                            <input type="hidden" name="MAX_FILE_SIZE" value="{{ HUGE_AVATAR_MAX_SIZE }}" />
                                            <input type="hidden" id="Instructor_id" name="Instructor_id" value="{{ USER_PROFILE['Instructor_id'] }}">
                                            <input type="hidden" id="first_name" name="first_name" value="{{ USER_PROFILE['first_name'] }}">
                                            <input type="hidden" id="last_name" name="last_name" value="{{ USER_PROFILE['last_name'] }}">
                                            <input type="hidden" id="user_name" name="user_name" value="{{ USER_PROFILE['user_name'] }}">
                                            <input type="hidden" id="user_email" name="user_email" value="{{ USER_PROFILE['user_email'] }}">
                                            <output id="cbn_avatar_list"></output>
                                            <input type="submit" id="avatar_upload" onclick="return comestoarraAlert( '#uploadAvatarAction', 'warning', '' );" class='btn btn-block btn-success' value="UPLOAD NEW AVATAR">
                                            <a id="avatar_upload_cancel" onclick="reload()" class='btn btn-block btn-danger'>CANCEL</a>
                                            <input type="hidden" name="{{ CSRF_TOKEN_NAME }}" value="{{ CSRF_TOKEN_VALUE }}"/>

                                        </form>
			                    	</div>


						    	</div>
					    	</div>
					    	<!-- /user card -->

						</div>
						<!-- /sidebar content -->

					</div>
					<!-- /right sidebar component -->

				</div>
				<!-- /inner container -->

			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->


		
</body>



    {{  SCRIPT|raw }}

    <script type="text/javascript">
        $(document).ready(function() {

            $('#calendar').fullCalendar({
                customButtons: {
                    myRenderButton: {
                        text: 'Show Calendar',
                        click: function() {
                            $('#calendar').fullCalendar('render');
                        }
                    }
                },
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'myRenderButton'
                },
                defaultView: 'basicWeek',
                editable: false,
                eventLimit: false,
                events: [
                    {% if ALL_APPOINTMENT_Instructor|length > 0 %}
                    {% for appointment in ALL_APPOINTMENT_Instructor %}
                    {
                        Swimmer_id: '{{ appointment.Swimmer_id }}',
                        Swimmer: '{{ appointment.Swimmer_firstname }} {{ appointment.Swimmer_lastname }}',
                        Instructor: '{{ appointment.Instructor_lastname|first|upper }}{{ appointment.Instructor_firstname|first|upper }}',
                        type: {% if ( dom.dueDate|date('Y-m-d') > appointment.appointment_date ) %}'EX'{% else %}'{{ appointment.type|replace({ ' Appointment': '' })|upper }}'{% endif %},
                        status: {% if appointment.finished == 1 %}'finished'{% else %}''{% endif %},
                        specialties: '{{ appointment.Instructor_specialties }}',
                        start: '{{ appointment.start }}',
                        color: {% if ( dom.dueDate|date('Y-m-d') > appointment.appointment_date and appointment.finished == 0 ) %}'#d20c0c'{% else %}''{% endif %}
                    },
                    {% endfor %}
                    {% endif %}

                ],
                eventRender: function (calEvent, element) {
                    var find = '<span class="fc-title">';

                    if ( calEvent.status == "finished" ) {
                        var replace = find + '<span class="label label-info">' + calEvent.Instructor + '</span> ' + '<span class="label label-default">' + calEvent.type + '</span><br><br>' + '<p align="center">' + calEvent.Swimmer + '<br><span class="label label-success">FINISHED</span></p>';
                    } else {
                        var replace = find + '<span class="label label-info">' + calEvent.Instructor + '</span> ' + '<span class="label label-default">' + calEvent.type + '</span><br><br>'+ '<p align="center">' + calEvent.Swimmer + '</p>';
                    }

                    var newHTML = $(element).html().replace(find, replace);
                    $(element).html(newHTML);
                }
            });

        });
    </script>

    <script type="text/javascript">

        $('.row').tooltip({
            selector: "[rel=tooltip]",
            container: "body"
        })

    </script>

    <script type="text/javascript">

        $(document).ready(function() {

            function handleFileSelect( evt ) {

                var files = evt.target.files;
                for (var i = 0, f; f = files[i]; i++) {

                    if ( ! f.type.match('image.*') ) {

                        continue;

                    }
                    var reader = new FileReader();
                    reader.onload = (function(theFile) {
                        return function(e) {
                            $('#avatar_button').hide();
                            $('#avatar_file').hide();
                            $('#avatar_upload').show();
                            $('#avatar_upload_cancel').show();
                            var span = document.createElement('span');
                            span.innerHTML = ['<p align="center"><img class="uploadThumb" src="', e.target.result,
                                '" title="', escape(theFile.name), '"/></p>'].join('');
                            document.getElementById('cbn_avatar_list').insertBefore(span, null);
                        };
                    })(f);
                    reader.readAsDataURL(f);

                }

            }

            $('#avatar_upload').hide();
            $('#avatar_upload_cancel').hide();
            document.getElementById('avatar_file').addEventListener('change', handleFileSelect, false);

        });
    </script>
    <script>

       function comestoarraAlert ( formclass, type, link ) {

            swal({
                title: "Are you sure ?",
                text: "{{ USERNAME }}, are you sure want to continue ?",
                type: type,
                showCancelButton: true,
                confirmButtonColor: 'green',
                confirmButtonText: 'Yes !',
                cancelButtonText: "No !",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function ( isConfirm ) {
                if ( isConfirm ) {
                    swal("Done!", "Congratulations !", "success");
                    if ( formclass != '' ) {
                        $(formclass).submit();
                    }
                    if ( link != '' ) {
                        window.location = link;
                    }
                } else {
                    swal("Cancelled", "Action was cancelled by {{ USERNAME }} :)", "error");
                }
            });

            return false;
        }

    </script>

    <script src="{{ GLOBAL_COMPONENTS }}datatables/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{ GLOBAL_COMPONENTS }}datatables/media/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function() {

            $('#all-appointment').DataTable({
                "responsive": true,
                "stateSave": true
            });

        });
    </script>

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function() {
            $( "#birthdate" ).datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: '1940:{{ "now"|date("Y") }}'
            });
        });
    </script>

    <script src="{{ GLOBAL_COMPONENTS }}jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function() {

            $('.cbn-timepicker').timepicker({
                hourMin: 8,
                hourMax: 21,
                showMinute: false
            });

        });

    </script>

    <script>

        $(document).ready(function() {

            var sunday_time_start = $("#sunday_timepicker_start").val();
            var sunday_time_end = $("#sunday_timepicker_end").val();

            $('input[name=sunday_time_end]').click(function(){

                if ( sunday_time_end > sunday_time_start ) {

                    alert( 'End time must be higher than start time !' );

                }

            });

        });

    </script>

    <script src="{{ GLOBAL_COMPONENTS }}gritter/js/jquery.gritter.min.js" type="text/javascript"></script>
    {% if errors %}
        <script>
            $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: '<i class="fa fa-meh-o"></i> Something went wrong !',
                // (string | mandatory) the text inside the notification
                text: "<i>{{ errors }}</i>",
                class_name: 'gritter-alert gritter-icon'
            });
        </script>
    {% endif %}

    {% if flash.error %}

        <script>
            $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: '<i class="fa fa-meh-o"></i> Something went wrong !',
                // (string | mandatory) the text inside the notification
                text: "<i>{{ flash.error }}</i>",
                class_name: 'gritter-alert gritter-icon'
            });
        </script>

    {% endif %}

    {% if flash.info %}

        <script>
            $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: '<i class="fa fa-smile-o"></i> Information !',
                // (string | mandatory) the text inside the notification
                text: "<i>{{ flash.info }}</i>",
                class_name: 'gritter-facebook gritter-icon'
            });
        </script>

    {% endif %}

    {% if flash.success %}

        <script>
            $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: '<i class="fa fa-smile-o"></i> Congratulations !',
                // (string | mandatory) the text inside the notification
                text: "<i>{{ flash.success }}</i>",
                class_name: 'gritter-success gritter-icon'
            });
        </script>

    {% endif %}

</html>
