
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Swim School of Bend Appointment Manager</title>
    <link rel="shortcut icon" href="{% if APP_FAVICON != NULL %} {{ BASE_DIR }}{{ UPLOAD_PATH }}{{ APP_FAVICON }} {% else %} {{ DEFAULT_FAVICON }} {% endif %}">

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="../comestoarra/Views/Backend/assets/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	<link href="../comestoarra/Views/Backend/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../comestoarra/Views/Backend/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="../comestoarra/Views/Backend/assets/css/layout.min.css" rel="stylesheet" type="text/css">
	<link href="../comestoarra/Views/Backend/assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="../comestoarra/Views/Backend/assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/main/jquery.min.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/main/bootstrap.bundle.min.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/plugins/loaders/blockui.min.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/plugins/ui/slinky.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/plugins/ui/moment/moment.min.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/plugins/pickers/daterangepicker.js"></script>

	<script src="../comestoarra/Views/Backend/assets/js/app.js"></script>
	<script src="../comestoarra/Views/Backend/assets/global_assets/js/demo_pages/dashboard.js"></script>

</head>

<body>


	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content d-flex justify-content-center align-items-center">

				<!-- Login form -->
				<form class="login-form" method="post" action="{{ LOGIN_ACTION }}">
					<div class="card mb-0">
						<div class="card-body">
							<div class="text-center mb-3">
								<i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
								<h5 class="mb-0">Page Unavalible</h5><br>
								<span class="d-block text-muted">Please email wyatt@wyattcarrell.com to have your credentials verified.</span>
							</div>

							<div class="text-center">
                                <input class="btn btn-primary" type="button" value="Go back!" onclick="history.back()">
							</div>
						</div>
					</div>
				</form>
				<!-- /login form -->

			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
<script>
function goBack() {
  window.history.back();
}
</script>
</html>
